extends base.pug

block content
  body
    form(action="/submit", method="post")
      h1 smart journal
      p How are you?
      input(type="text", name="entry")
      input(type="submit", name="done")
